::-webkit-scrollbar {
    width: 12px;
    height: 0px;
    max-height: 4px;
}

::-webkit-scrollbar-corner {
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 160px;
}

::-webkit-scrollbar-track {
    background: var(--baseColor);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




:root {
    --gitic-gainsboro: #d9d9d9;
    --gitic-background01: #181A20;
    --gitic-background02: #1E2329;
    --gitic-background03: #F5F5F5;
    --gitic-blackcolor: #000000;
    --gitic-whitecolor: #ffffff;
    --gitic-whiteghost: #e6e6e6;
    --gitic-basecolor: #a6a6a6;
    --gitic-maincolor: #21252b;
    --gitic-textcolor: #00478C;
    --gitic-buttoncolor: #00478C;
    --gitic-lemonless: #8aa78d;
    --gitic-viocolor: #c71585;
    --gitic-purple: #A87FFB;
    --gitic-green: #17B877;
    --gitic-blue: #25A6E9;
    --gitic-yellow: #FFC26E;
    --gitic-boxshadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    --gitic-fonthead: Montserrat, sans-serif;
    --gitic-fontbody: sans-serif;
}




/* Reset default browser styles */
body, h1, h2, p, ul, li, nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: var(--gitic-blackcolor);
    color: var(--gitic-basecolor);
    margin: 0;
        padding: 0;
        text-rendering: optimizeLegibility;
        width: 100%;
        height: 100hv;
}





.img {
    display: inline-block;
    height: 50px;
    z-index: 1;
}

.nav {
    /* From https://css.glass */
        background: rgba(0, 0, 0, 0.9);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 65px;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    padding: 25px 8px 25px 8px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 19px;
}

.nav>.nav-links>a {
    color: var(--whiteColor);
    display: inline-block;
    padding: 22px 10px 22px 10px;
    text-decoration: none;
}

.nav>.nav-links>a:hover,
a:focus {
    transform: translateY(-.2rem);
    color: var(--bs-decoration-color);
    text-decoration: none;
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 27px 10px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: inherit;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label,
    label:focus {
        transform: translateY(-.2rem);
        text-decoration: none;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 8px;
        border-top: 2px solid var(--gitic-purple);
    }

    .nav>.nav-links {
        background: var(--gitic-blackcolor);
        position: absolute;
        display: block;
        width: 100%;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}






.hero {
    text-align: center;
    padding: 200px 0;
}

.hero h1 {
    color: var(--gitic-whitecolor);
    font-size: 100px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 30px;
    margin-bottom: 30px;
}

.btn {
    font-size: 22px;
    display: inline-block;
    width: 15%;
    padding: 13px 0px;
    background-color: var(--gitic-purple);
    color: var(--gitic-blackcolor);
    border: 3px solid var(--gitic-purple);
    text-decoration: none;
    border-radius: 8px;
}

.btn:hover {
    background-color: #007bff;
    color: #fff;
}




@media (max-width: 768px) {
    .hero {
            text-align: center;
            max-width: 600px;
            padding: 170px 20px;
        }
    
        .hero h1 {
            color: var(--gitic-whitecolor);
            font-size: 40px;
            margin-bottom: 10px;
        }
    
        .hero p {
            font-size: 19px;
           
        }
    
        .btn {
            font-size: 19px;
            display: inline-block;
            width: 100%;
            padding: 11px;
            border-radius: 8px;
            margin: 5px 0px;
        }
    
        .btn:hover {
            background-color: #007bff;
            color: #fff;
        }
}










.box {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid var(--gitic-purple);
  border-right: 2px solid var(--gitic-whitecolor);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.box span:nth-child(2) {
  animation-delay: -0.2s;
}

.box span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {

  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@media (max-width: 768px) {
  .box {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
}
}














header {
    color: var(--gitic-basecolor);
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    background-color: var(--gitic-background01);
    border-right: 3px solid var(--gitic-purple);
    border-left: 3px solid var(--gitic-purple);
    box-shadow: var(--gitic-boxshadow);
}

header h1 {
    font-size: 22px;
    margin: 0;
}

header p {
    font-size: 22px;
    text-align: center;
}

@media (max-width: 768px) {
    header {
        width: 90%;
        font-size: 18px;
        padding: 15px;
        margin-top: 0px;
    }

    header h1 {
        font-size: 18px;
    }

    header p {
        font-size: 18px;
    }
}













.flex-about {
    background-color: var(--gitic-background01);
    display: flex;
    flex-direction: row;
    padding: 30px 20px;
    margin-top: 150px;
}

.flex-about .flex-item-left {
    text-align: center;
    padding: 10px 10px;
    flex: 50%;
}

.flex-about .flex-item-right {
    text-align: left;
    padding: 10px 10px;
    flex: 50%;
}

.flex-about .flex-item-right h1 {
    color: var(--gitic-whitecolor);
    font-size: 60px;
    font-weight: 400;
    margin-top: 70px;
}

.flex-about .flex-item-right p {
    color: var(--gitic-basecolor);
    font-size: 22px;
    max-width: 600px;
}

.flex-about .flex-item-right a {
    /* From https://css.glass */
    background-color: var(--whiteColor);
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    color: var(--gitic-maincolor);
    font-size: 22px;
    font-weight: 100;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 30px;
    float: center;
    text-align: center;
    margin-top: 15px;
    gap: 5px;
    transition: background-color 0.3s;
}

.flex-about .flex-item-right a:hover,
a:focus {
    transform: translateY(-.2rem);
    text-decoration: none;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 768px) {
    .flex-about {
        flex-direction: column;
        padding: 40px 20px;
        margin-top: 70px;
    }

    .flex-about .flex-item-right {
        text-align: center;
        padding: 10px;
    }

    video {
        width: 100%;
        height: 300px;
    }



    .flex-about .flex-item-right {
        text-align: center;
        padding: 10px;
    }

    .flex-about .flex-item-right h1 {
        font-size: 40px;
    }

    .flex-about .flex-item-right p {
        font-size: 18px;
        max-width: 600px;
    }

    .flex-about .flex-item-right a {
        font-size: 18px;
        padding: 11px;
        width: 100%;
    }
}




video {
    width: 100%;
    height: 350px;
    border-right: 3px solid var(--gitic-viocolor);
    border-left: 3px solid var(--gitic-viocolor);
}









/* ---Typing Effects Code --- */
.introduction {
padding: 150px;
margin-top: 100px;
background-color: var(--gitic-background01);
}



.type-effect {
    width: 100%;
    text-align: left;
    font-size: 85px;
}

.type-cover {

}

.typewrite {
    font-size: 22px;
    font-weight: 0px;
    background-color: none;
    letter-spacing: 0rem;
    text-decoration: none;
}

/* ---Typing Effects Code End--- */









/* Float four columns side by side */
.features .column {
    float: left;
    width: 50%;
    padding: 0 10px;
    margin: 10px 0px;
}

/* Remove extra left and right margins, due to padding */
.features {
    margin: 0 -5px;
    padding: 30px 30px;
    margin-top: 0px;
}

/* Clear floats after the columns */
.features:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .features .column {
        width: 100%;
        display: block;
    }
}

/* Style the counter cards */
.features .column .card {}

.features .column .card img {}

.features .column .card .svg-border {
    width: 43px;
    border-radius: 8px;
    border-style: double;
    margin-bottom: 8px;
}

.features .column .card h3 {
    color: var(--gitic-whitecolor);
    font-size: 28px;
}

.features .column .card p {
    color: var(--gitic-basecolor);
    font-size: 21px;
    margin-top: 10px;
}









 .features .column .card .vote-card {
    background-color: var(--gitic-purple);
     padding: 20px;
     border-radius: 16px;
     border-style: dotted;
     box-shadow: var(--gitic-boxshadow);
 }

 .features .column .card .vote-card h3 {
     font-size: 35px;
     color: var(--gitic-blackcolor);
     text-align: center;
     margin-top: 0;
 }

 .features .column .card .vote-card p {
     color: var(--gitic-maincolor);
     font-size: 21px;
     text-align: center;
     padding: 10px 0px;
     margin-top: 0;
 }

 .features .column .card .vote-button {
     font-size: 21px;
     text-align: center;
     display: inline-block;
     width: 40%;
     padding: 13px 0px;
     background-color: var(--gitic-blackcolor);
     color: #fff;
     border: none;
     border-radius: 8px;
     cursor: pointer;
 }

 .features .column .card .vote-button:hover {
     background-color: #0056b3;
 }

 #token-system-vote {
   
 }

 #tokenless-system-vote {

 }

 @media (max-width: 768px) {
     .features .column .card .vote-card {}

     .features .column .card .vote-card h3 {
         font-size: 35px;
     }

     .features .column .card .vote-card p {
         font-size: 18px;
     }

     .features .column .card .vote-button {
         font-size: 18px;
         width: 100%;
         padding: 11px 0px;
     }

     .features .column .card .vote-button:hover {
         background-color: #0056b3;
     }

 }






/* LEARN */
.learn {
    width: 100%;
    padding-top: 30px;
    margin-top: 150px;
}

.learn .content {
    max-width: 900px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: left;
}

.learn .content h1 {
    color: var(--gitic-whitecolor);
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    line-height: 1;
}

.learn .content h2 {
    color: var(--gitic-basecolor);
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    line-height: 1;
}

.learn .content p {
    color: var(--gitic-maincolor);
    font-size: 21px;
    text-align: center;
    padding: 10px 0px;
}

.learn .content a {
    /* From https://css.glass */
    background: var(--gitic-maincolor);
    box-shadow: var(--gitic-boxshadow);
    border: 1px solid rgba(240, 255, 240, 0.48);
    color: var(--gitic-whitecolor);
    font-size: 21px;
    font-weight: 100;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 30px;
    float: center;
    text-align: center;
    margin-top: 15px;
    gap: 5px;
    transition: background-color 0.3s;
}

.learn a:hover,
a:focus {
    background-color: var(--gitic-hoverbutton);
    transform: translateY(-.2rem);
    text-decoration: none;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .learn .content {
        padding: 20px 0;
        margin-top: -0px;
    }

    .learn .content h1 {
        font-size: 35px;
        max-width: 700px;
        margin-bottom: 10px;
    }

    .learn .content h2 {
        font-size: 25px;

    }

    .learn .content p {
        font-size: 20px;
        max-width: 700px;
        margin-bottom: 10px;
    }

    .learn .content {
        padding: 30px;
    }

    .learn .content a {
        font-size: 20px;
        width: 100%;
        padding: 11px;
        margin: 0.3rem auto;
    }
}








/* Programs */
.programs {
    width: 100%;
    padding: 20px 40px;
    margin-top: 100px;
}

.programs .content {
    max-width: 1200px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: left;
}

.programs .content h1 {
    color: var(--gitic-whitecolor);
    text-align: left;
    max-width: 1000px;
    font-size: 100px;
    font-weight: 600;
    margin-top: 0px;
    line-height: 1;
}

.programs .content p {
    color: var(--whiteLess);
    text-align: left;
    font-size: 20px;
    max-width: 800px;
    padding: 10px 0px;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .programs .content {
        padding: 100px 0;
    }

    .programs .content h1 {
        font-size: 2.5rem;
        font-weight: 600;
        max-width: 700px;
        margin-top: 180px;
        line-height: 2.5rem;
    }

    .programs .content p {
        font-size: 21px;
        max-width: 700px;
        margin-bottom: 20px;
    }

    .programs .content {
        padding: 20px;
    }
}

.accordion-container {
    background: transparent;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* accordion */
.accordion {
    width: 95%;
    overflow: hidden;
}

.accordion-header {
    background: var(--gitic-background02);
    border-right: 3px solid var(--gitic-viocolor);
    border-left: 3px solid var(--gitic-viocolor);
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.accordion-header:hover,
.accordion-header:focus {
    transform: translateY(-.2rem);
    text-decoration: none;
}

.accordion-header-content {
    padding: 10px;
    overflow: hidden;
    position: relative;
    z-index: 9;
}

.accordion-content-text {
    color: var(--whiteLess);
    font-size: 20px;
}

.accordion-header-content-title {
    color: var(--whiteLess);
    font-size: 21px;
    font-weight: 600;
}

.accordion-header-content-label {
    font-size: 20px;
    padding: 20px 0px;
}


.accordion-content {
    color: var(--whiteLess) padding: 10px;
    position: relative;
    overflow: hidden;
}

.accordion-content a {
    font-size: 20px;
    font-weight: 100;
    display: inline-block;
    color: var(--mainColor);
    border: 2px solid var(--violetredColor);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    margin-top: 15px;
    gap: 5px;
    transition: background-color 0.3s;
}

.accordion-content a:hover,
a:focus {
    transform: translateY(-.2rem);
    text-decoration: none;
}

/* accordion open effect */

details summary {
    cursor: pointer;
    transition: all 225ms ease-out;
    position: relative;
}

details[open] summary {
    background: var(--pureBlack);
    color: var(--white);
    margin-bottom: 100px;
    overflow: hidden;
    position: relative;
}

details[open] .accordion-content {
    padding: 10px;
    margin-top: -100px;
}

details[open] .accordion-header-content-label {
    color: var(--goldenYellow);
}

/* remove marker */

details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

/* custom marker */

summary::after {
    color: var(--violetredColor);
    content: '+';
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 26px;
}

details[open] summary::after {
    color: var(--violetredColor);
    content: '-';
    font-size: 36px;
}

/* /Programs */









footer {
    color: var(--whiteColor);
    padding: 130px;
    text-align: center;
}

footer .copyright {
    margin-top: 20px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.social-icons a>svg {
    fill: var(--gitic-purple);
    width: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .social-icons a {
        font-size: 16px;
    }
}
