::-webkit-scrollbar {
    width: 12px;
    height: 0px;
    max-height: 4px;
}

::-webkit-scrollbar-corner {
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 160px;
}

::-webkit-scrollbar-track {
    background: var(--gitic-basecolor);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ROOT COLOR SECTION */
:root {
    --gitic-gainsboro: #d9d9d9;
    --trasparent: rgba(255, 255, 255, 0);
    --gitic-background01: #181A20;
    --gitic-background02: #1E2329;
    --gitic-background03: #F5F5F5;
    --gitic-background: #171818;
    --gitic-indianred: #e84142;
    --gitic-blackblack: #000000;
    --gitic-whitecolor: #f5f5f5;
    --gitic-whiteghost: ghostwhite;
    --gitic-aliceblue: aliceblue;
    --gitic-cornsilk: cornsilk;
    --gitic-basecolor: #a6a6a6;
    --gitic-maincolor: #21252b;
    --gitic-bluecolor: hsl(250, 84%, 54%);
    --gitic-buttoncolor: #00478C;
    --gitic-lemonless: #8aa78d;
    --gitic-viocolor: #c71585;
    --gitic-purple: #A87FFB;
    --gitic-green: #17B877;
    --gitic-blue: #25A6E9;
    --gitic-yellow: #FFC26E;
    --gitic-boxshadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    --gitic-fonthead: Montserrat, sans-serif;
    --gitic-fontbody: sans-serif;
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}




body {
    box-sizing: border-box;
    margin: 0;
    font-family: DM Sans, Roboto, fallback-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/* style.css */
body {
    background-color: var(--gitic-blackblack);
    transition: background-color .3s ease-in-out, height 1ms linear 999s;
    color: var(--gitic-basecolor);
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    width: 100%;
    height: 100hv;
}









/* Nav */
.banner-cover {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
}

.alert {
    background: var(--gitic-indianred);
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--gitic-whitecolor);
    /* Use your preferred color */
    width: 100%;
    padding: 10px;
    text-align: center;
    position: relative;
}

@media (max-width: 768px) {
    .alert {
        font-size: 13px;
    }
}

.closebtn {
    margin-left: 15px;
    color: var(--gitic-whitecolor);
    /* Use your preferred color */
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: var(--whiteColor);
    /* Use your preferred color */
}

.alert a {
    color: inherit;
    text-decoration: none;
}


.nav-img .img {
    display: inline-block;
    height: 50px;
    z-index: 1;
    text-align: left;
}



.nav-cover {
    background-color:  var(--gitic-blackblack);
    width: 100%;
    padding: 35px 20px;
    position: fixed;
    z-index: 3;
}


.menu {
    background-color: transparent;
    padding: 6px 50px;
    border-bottom: 2.5px solid var(--gitic-whitecolor);
    border-top: 2.5px solid var(--gitic-whitecolor);
    border-right: none;
    border-left: none;
    text-align: right;
    float: right;
    cursor: pointer;
    margin-top: 0px;
}


.menu:hover,
.menu:focus {
    transform: translateY(-.2rem);
    text-decoration: none;
}


.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--gitic-indianred);
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--gitic-whitecolor);
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: var(--gitic-basecolor);
    transform: translateX(-.2rem);
    text-decoration: none;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media (max-width: 768px) {
    .menu {
        padding: 3px 25px;
    }

    .overlay a {
        font-size: 21px;
    }

    .overlay .closebtn {
        font-size: 30px;
        top: 30px;
        right: 35px;
    }
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 10px
    }

    .overlay .closebtn {
        font-size: 20px;
        top: 15px;
        right: 35px;
    }
}









.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.social-icons a>svg {
    fill: var(--whiteColor);
    width: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .social-icons a {
        font-size: 16px;
    }
}








/* HERO */
.hero {
    width: 100%;
    padding: 0px 30px;
    letter-spacing: 0rem;
}

.hero .container {
    max-width: 1200px;
    padding: 150px 20px;
    margin-top: 40px;
}

.hero h1 {
    color: var(--gitic-whitecolor);
    font-size: 110px;
    font-weight: 100;
    max-width: 1200px;
    line-height: 0.90;
}

.hero .container .explorer {
    color: var(--gitic-whitecolor);
    font-size: 25px;
    text-decoration: none;
}


.hero .container .explorer:hover,
.explorer:focus {
    color: var(--baseColor);
    transform: translateY(-.2rem);
}

.hero .container .btn {
    display: inline-block;
    padding: 10px 0px;
    color: var(--textColor);
    margin-top: 30px;
    font-family: Arial;
    font-size: 25px;
    border-radius: 5px;
}


.hero .container .btn svg {
    vertical-align: middle;
    height: 21px;
    margin-right: 20px;
}

.hero .container .btn svg:hover {
    fill: var(--violetredColor);
    transform: translateX(-.2rem);
    text-decoration: none;
}




@media (max-width: 768px) {
    .hero .container .btn {
        padding: 5px;
    }

    .hero .container .btn svg {
        margin-right: 10px;
        height: 18px;
    }
}

.btn svg,
.btn svg .arrow {
    transition: all .3s cubic-bezier(.83, 0, .17, 1);
}

img,
svg {
    vertical-align: middle;
}

*,
:after,
:before {
    box-sizing: border-box;
}


svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}


a:hover,
a:focus {
    transform: translateY(-.2rem);
    text-decoration: none;
}



/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .hero {
        width: 100%;
    }

    .hero .container {
        padding: 150px 10px;
    }

    .hero h1 {
        font-size: 30px;
        margin-top: 50px;
    }


    .hero .container .btn {
        display: inline-block;
        padding: 10px 0px;
        margin-top: 30px;
        font-family: Arial;
        font-size: 19px;
        border-radius: 5px;
    }

}



/* ---Typing Effects Code --- */

.type-effect {
    width: 100%;
    text-align: left;
}

.typewrite {
    color: var(--gitic-bluecolor);
    font-weight: 0px;
    background-color: none;
    letter-spacing: 0rem;
    text-decoration: none;
}


.wrap {
    color: var(--gitic-indianred);
}

.wrap::after {
    content: '|';
    animation-name: blinking;
    animation-duration: .71s;
    animation-iteration-count: infinite;
}

@keyframes blinking {
    from {
        color: transparent;
    }

    to {
        color: var(--gitic-indianred);
    }
}

/* ---Typing Effects Code End--- */
/* /HERO */








/* Float four columns side by side */
.column {
    float: left;
    width: 50%;
    padding: 0 10px;
    margin: 10px 0px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
    padding: 0px 30px;
    margin-top: 0px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 768px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    background-color: var(--gitic-background02);
    box-shadow: var(--box-shadow);
    padding: 20px;
    text-align: left;
    text-decoration: none;
}



.card div {
    color: var(--gitic-whitecolor);
    font-size: 35px;
}

.card p {
    font-size: 21px;
    margin-top: 5px;
}

.card .arrow-explore {
    background-color: var(--background-1);
    float: right;
    padding: 20px 20px;
    border-radius: 160px;
}

.card .arrow-explore svg {
    fill: var(--whiteColor);
    width: 15px;
    height: 15px;
    margin: 3px;
}

.card .icon-cover {
    width: 48px;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card .icon-cover svg {
    fill: var(--whiteColor);
    stroke: var(--whiteColor);
    width: 45px;
    height: 45px;
    margin: 3px;
}


@media (max-width: 768px) {

    /* Style the counter cards */
    .card {
        padding: 13px;
    }

    .card div {
        font-size: 25px;
    }

    .card p {
        font-size: 17px;
        margin-top: 2px;
    }

    .card .icon-cover {
        width: 43px;
        height: 43px;
    }

    .card .icon-cover svg {
        width: 30px;
        height: 30px;
        margin: 3px;
    }
}











/* Discover */
.discover {
    width: 100%;
    padding: 20px 20px;
    margin-top: 0px;
}

.discover .content {
    max-width: 600px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: left;
}

.discover .content h1 {
    color: var(--gitic-whitecolor);
    text-align: center;
    max-width: 600px;
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
}

.discover .content p {
    text-align: center;
    max-width: 600px;
    padding: 10px 0px;
}

.discover .content a {
    background-color: var(--gitic-indianred);
    box-shadow: var(--box-shadow);
    border-radius: 16px;
    color: var(--gitic-whitecolor);
    font-size: 22px;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 30px;
    text-align: center;
    margin-top: 15px;
    gap: 5px;
    transition: background-color 0.3s;
}

.discover a:hover,
a:focus {
    transform: translateY(-.2rem);
    text-decoration: none;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .discover .content {
        padding: 50px 0;
        margin-top: -10px;
    }

    .discover .content h1 {
        font-size: 24px;
        font-weight: 400;
        max-width: 700px;
        margin-top: 0px;
    }

    .discover .content p {
        font-size: 20px;
        max-width: 700px;
        margin-bottom: 10px;
    }

    .discover .content {
        padding: 30px;
    }

    .discover .content a {
        font-size: 20px;
        width: 100%;
        padding: 11px;
        margin: 0.3rem auto;
    }
}

/* /Discover */

















.countdown-section {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}

.countdown-timer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.countdown-item {
    background-color: #cccccc;
    box-shadow: var(--box-shadow);
    border: 3px solid var(--gitic-basecolor);
    padding: 10px;
    margin: 0 10px;
}

.countdown-number {
    font-size: 100px;
    font-weight: bold;
    color: var(--gitic-maincolor);
}

.countdown-label {
    font-size: 20px;
    color: var(--gitic-indianred);
}

.countdown-message {
    margin-top: 22px;
    font-size: 20px;
}




@media screen and (max-width: 768px) {
    .countdown-item {
        border-radius: 8px;
        padding: 10px;
        margin: 0 10px;
    }

    .countdown-number {
        font-size: 25px;
    }

    .countdown-label {
        font-size: 17px;
    }

    .countdown-message {
        font-size: 17px;
    }
}









/* Discover */
.sticky-inner {
    width: 100%;
    padding: 20px 20px;
    margin-top: 100px;
}

.sticky-inner .content {
    max-width: 900px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: left;
}

.sticky-inner .content h1 {
    color: var(--gitic-whitecolor);
    text-align: center;
    max-width: 900px;
    font-size: 100px;
    font-weight: 600;
    line-height: 1;
}

.sticky-inner .content p {
    font-size: 21px;
    text-align: center;
    max-width: 900px;
    padding: 10px 0px;
}

.sticky-inner .content a {
    background: var(--primaryColor);
    box-shadow: var(--boxshadow);
    border-radius: 16px;
    color: var(--greyColor);
    font-size: 22px;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 30px;
    text-align: center;
    margin-top: 15px;
    gap: 5px;
    transition: background-color 0.3s;
}

.sticky-inner a:hover,
a:focus {
    transform: translateY(-.2rem);
    text-decoration: none;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .sticky-inner .content {
        padding: 50px 0;
        margin-top: -10px;
    }

    .sticky-inner .content h1 {
        font-size: 30px;
        max-width: 700px;
        margin-top: 0px;
    }

    .sticky-inner .content p {
        font-size: 20px;
        max-width: 700px;
        margin-bottom: 10px;
    }

    .sticky-inner .content {
        padding: 30px;
    }

    .sticky-inner .content a {
        font-size: 20px;
        width: 100%;
        padding: 11px;
        margin: 0.3rem auto;
    }
}

/* /Discover */














.flex-container3 {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    padding: 30px 50px;
    text-align: center;
    margin-top: 0px;
}

.flex-item-left3 {
    background-color: #cccccc;
    box-shadow: var(--box-shadow);
    border: 3px solid var(--gitic-basecolor);
    padding: 20px 20px;
    margin: 10px;
    flex: 50%;
    text-align: left;
}

.flex-item-left3 h3 {
    color: var(--gitic-maincolor);
    font-size: 60px;
}

.flex-item-left3 h4 {
    color: var(--gitic-maincolor);
    font-size: 30px;
    text-align: left;
}

.flex-item-left3 p {
    color: #333;
    font-size: 21px;
}

.flex-item-left3 ul {
    color: #333;
    font-size: 21px;
    margin-left: 20px;
    margin-bottom: 10px;
    list-style: none;
    text-align: left;
}

.flex-item-left3 li {
    margin-bottom: 5px;
}

.flex-item-right3 {
    background-color: #cccccc;
    box-shadow: var(--box-shadow);
    border: 3px solid var(--gitic-basecolor);
    padding: 20px 20px;
    margin: 10px;
    flex: 50%;
    text-align: left;
}

.flex-item-right3 h3 {
    color: var(--gitic-maincolor);
    font-size: 60px;
    text-align: left;
}

.flex-item-right3 h4 {
    color: var(--gitic-maincolor);
    font-size: 30px;
    text-align: left;
}

.flex-item-right3 p {
    color: #333;
    font-size: 21px;
}

.flex-item-right3 ul {
    color: #333;
    font-size: 21px;
    margin-left: 20px;
    margin-bottom: 10px;
    list-style: none;
}

.flex-item-right3 li {
    margin-bottom: 5px;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 768px) {
    .flex-container3 {
        flex-direction: column;
        padding: 0px 20px;
    }


    .flex-item-left3 {
        padding: 10px 20px;
    }

    .flex-item-left3 h3 {
        font-size: 30px;
    }

    .flex-item-left3 h4 {
        font-size: 25px;
    }

    .flex-item-left3 p {
        font-size: 17px;
    }

    .flex-item-left3 ul {
        font-size: 17px;
        margin-left: 20px;
        margin-bottom: 10px;
        list-style: none;
    }

    .flex-item-left3 li {
        margin-bottom: 5px;
    }

    .flex-item-right3 {
        padding: 10px 20px;
    }

    .flex-item-right3 h3 {
        font-size: 30px;
    }

    .flex-item-right3 h4 {
        font-size: 25px;
    }

    .flex-item-right3 p {
        font-size: 17px;
    }

    .flex-item-right3 ul {
        font-size: 17px;
        margin-left: 20px;
        margin-bottom: 10px;
        list-style: none;
    }

    .flex-item-right3 li {
        margin-bottom: 5px;
    }
}



















/* Programs */
.programs {
    width: 100%;
    padding: 20px 0px;
    margin-top: 100px;
}

.programs .content {
    max-width: 1200px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

.programs .content h1 {
    color: var(--gitic-whitecolor);
    text-align: center;
    max-width: 1200px;
    font-size: 100px;
    font-weight: 600;
    margin-top: 0px;
    line-height: 1;
}

.programs .content p {
    text-align: left;
    font-size: 21px;
    max-width: 800px;
    padding: 10px 0px;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .programs .content {
        padding: 20px 0;
    }

    .programs .content h1 {
        font-size: 35px;
        font-weight: 600;
        max-width: 700px;
        margin-top: 70px;
    }

    .programs .content p {
        font-size: 19px;
        max-width: 700px;
        margin-bottom: 20px;
    }

    .programs .content {
        padding: 20px;
    }
}

.accordion-container {
    background: transparent;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* accordion */
.accordion {
    width: 95%;
    overflow: hidden;
}

.accordion-header {
    border-bottom: 1px solid var(--gitic-basecolor);
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.accordion-header:hover,
.accordion-header:focus {
    transform: translateY(-.2rem);
    text-decoration: none;
}

.accordion-header-content {
    padding: 10px;
    overflow: hidden;
    position: relative;
    z-index: 9;
}

.accordion-content-text {
    font-size: 21px;
}

@media (max-width: 768px) {
    .accordion-content-text {
            font-size: 17px;
        }
    }

.accordion-header-content-title {
    color: var(--lightGrey);
    font-size: 22px;
}

@media (max-width: 768px) {
.accordion-header-content-title {
        font-size: 20px;
    }
}

.accordion-header-content-label {
    font-size: 20px;
    padding: 20px 0px;
}


.accordion-content {
    color: var(--greyColor); 
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.accordion-content a {
    font-size: 20px;
    font-weight: 100;
    display: inline-block;
    color: var(--mainColor);
    border: 2px solid var(--violetredColor);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    margin-top: 15px;
    gap: 5px;
    transition: background-color 0.3s;
}

.accordion-content a:hover,
a:focus {
    transform: translateY(-.2rem);
    text-decoration: none;
}

/* accordion open effect */

details summary {
    cursor: pointer;
    transition: all 225ms ease-out;
    position: relative;
}

details[open] summary {
    margin-bottom: 100px;
    overflow: hidden;
    position: relative;
}

details[open] .accordion-content {
    padding: 10px;
    margin-top: -100px;
}

details[open] .accordion-header-content-label {
    color: var(--goldenYellow);
}

/* remove marker */

details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

/* custom marker */

summary::after {
    color: var(--primaryColor);
    content: '+';
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 26px;
}

details[open] summary::after {
    color: var(--primaryColor);
    content: '-';
    font-size: 36px;
}

/* /Programs */



















footer {
    color: var(--whiteColor);
    padding: 130px;
    text-align: center;
}

footer .copyright {
    margin-top: 20px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.social-icons a>svg {
    fill: #cccccc;
    width: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .social-icons a {
        font-size: 16px;
    }
}
